main {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 30px;
}

 h1 {
    font-family: var(--font-voltaire);
    background-color: var(--jaune-cassé);
    padding: 10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
 }

 h2 {
    font-family: var(--font-tenor);
    background-color: var(--jaune-cassé);
    padding: 20px;
    border-radius: 15px;
    width: 130px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
 

html{
    background-color: var(--beige);  
    
}


main p {
    font-family: var(--font-tenor);
    background-color: var(--jaune-cassé);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bouton__cliquable a  {
    font-family: var(--font-voltaire);
    background-color: var(--green);
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

main img {
    height: 300px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}