section h1 {
    font-family: var(--font-voltaire);
}

p {
    font-family: var(--font-tenor);
    background-color: var(--jaune-cassé);
    padding: 10px;
    border-radius: 15px;
}

.bouton__cliquable > a {
    font-family: var(--font-voltaire);
    background-color: var(--green);
    padding: 10px;
    border-radius: 15px;
}